@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Light-Gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  font-family: "Poppins", serif;
}
body {
  background-color: var(--Light-Gray);
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid-2 {
  display: none;
}
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 50px 10%;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 265px;
  background-color: var(--white);
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(50, 50, 93, 0.2) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.25) 0px 8px 16px -8px;
}
img {
  width: 50px;
  height: 50px;
}
.red {
  border-top: 3px solid var(--Red);
  margin-bottom: 30px;
}
.orange {
  border-top: 3px solid var(--Orange);
}
.cyan {
  border-top: 3px solid var(--Cyan);
}
.blue {
  border-top: 3px solid var(--Blue);
}
header > p,
h1 {
  white-space: pre-line;
  text-align: center;
}
header > p {
  color: var(--Grayish-Blue);
  font-size: 0.75rem;
}
h1,
h2 {
  color: var(--Very-Dark-Blue);
}

h1 {
  font-size: 1.875rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}
strong {
  font-weight: 600;
  letter-spacing: 0.6px;
}
h2 {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 10px;
}
.card > p {
  padding-bottom: 20px;
  font-size: 0.75rem;
  color: var(--Grayish-Blue);
}
.card > img {
  align-self: flex-end;
}
/******************* Tablet View ******************/
@media (max-width: 768px) {
  .grid {
    display: none;
  }
  .grid-2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;
    padding: 50px 5%;
  }
  .red {
    margin: 0;
  }
  h1 {
    font-size: 1.5rem;
  }
}
/******************* Mobile View ******************/
@media (max-width: 600px) {
  main {
    padding: 25px;
  }
  .grid-2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 50px 0;
  }

  h1 {
    font-size: 1.125rem;
  }
  header > p {
    white-space: normal;
    padding-top: 15px;
  }
}
